:root {
  --primary-color: #9720b5;
  --text-color: #333;
  --lighter-text-color: #444;
  --darker-text-color: #222;
  --bg-color: #eaeaea;
  --lighter-bg-color: #f0f0f0;
  --lightest-bg-color: #fafafa;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body,
p,
button {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
}

code {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-size: 14px;
}
