/* GLOBAL STYLES AND RESET */

:root {
  --primary-color: #9720b5;
  --text-color: #333;
  --lighter-text-color: #444;
  --darker-text-color: #222;
  --bg-color: #eaeaea;
  --lighter-bg-color: #f0f0f0;
  --lightest-bg-color: #fafafa;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* TYPOGRAPHY */

body,
p,
input {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: var(--text-color);
}

code {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-size: 14px;
  font-weight: 400;
}

h1 {
  font-size: 25px;
  line-height: 32px;
  font-weight: 500;
}

/* COMPONENTS */

.segmented-button {
  display: inline;

  ul {
    list-style: none;
  }
  li {
    display: inline;
    &:not(:last-child)::after {
      content: "•";
      color: var(--lighter-text-color);
    }
  }
  button {
    color: var(--primary-color);
    border: none;
    background: none;
    cursor: pointer;
    &.selected {
      font-weight: 600;
    }
  }
}

input[type="number"] {
  border: none;
  padding: 2px 6px;
  border-radius: 4px;
  font-weight: 600;
}

/* GENERAL LAYOUT */
body {
  background-color: var(--bg-color);
}
