/* GLOBAL STYLES AND RESET */

:root {
  --primary-color: #9720b5;
  --text-color: #333;
  --lighter-text-color: #444;
  --darker-text-color: #222;
  --bg-color: #eaeaea;
  --lighter-bg-color: #f0f0f0;
  --lightest-bg-color: #fafafa;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 20px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* TYPOGRAPHY */

body,
p,
input,
button {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: var(--text-color);
}

a {
  color: var(--text-color);
}
a:hover {
  color: var(--primary-color);
}

code {
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-size: 14px;
  font-weight: 400;
}

h1 {
  font-size: 25px;
  line-height: 32px;
  font-weight: 500;
}
h2 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
}

strong {
  font-weight: 500;
}

/* SPACERS */
.space4 {
  height: 4px;
}
.space8 {
  height: 8px;
}
.space12 {
  height: 12px;
}
.space16 {
  height: 16px;
}
.space20 {
  height: 20px;
}

/* COMPONENTS */
button {
  cursor: pointer;
}
.button {
  background-color: none;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  border-radius: 20px;
  font-weight: 600;
  padding: 4px 16px;
  transition: all 0.15s ease;
  filter: drop-shadow(0px 1px 5px rgba(33, 3, 41, 0));
  &:hover {
    filter: drop-shadow(0px 1px 5px rgba(33, 3, 41, 0.2));
  }
  &:active {
    transform: scale(0.98);
    background: #fceeff;
  }
}

button.text {
  color: var(--primary-color);
  background: none;
  border: 0;
  padding: 0;
  &:hover {
    text-decoration: underline;
  }
}

input[type="number"],
input[type="text"] {
  border: none;
  padding: 2px 6px;
  border-radius: 4px;
  font-weight: 500;
}

.checkbox {
  cursor: pointer;
  input {
    display: none;
  }
  &:hover {
    font-weight: 500;
    letter-spacing: -0.007em;
  }
  svg {
    vertical-align: middle;
    position: relative;
    top: -2px;
    margin-right: 4px;
  }
}

.segmented-button {
  display: inline;

  ul {
    list-style: none;
  }
  li {
    display: inline;
    &:not(:last-child)::after {
      content: "•";
      color: var(--lighter-text-color);
    }
  }
  button {
    color: var(--primary-color);
    border: none;
    background: none;
    &.selected {
      font-weight: 600;
    }
  }
}

.palette-preview {
  cursor: pointer;
  display: flex;
  margin-bottom: 12px;
  padding: 4px;
  background: #f0f0f0;
  border-radius: 4px;
  box-shadow: 0px 8px 12px -4px rgba(0, 0, 0, 0.07);
  outline: 1px solid transparent;
  &:hover {
    transition: all 0.5s cubic-bezier(0, 1, 1, 1);
    box-shadow: 0px 8px 11px -8px rgba(151, 32, 181, 0.27);
    outline: 1px solid var(--primary-color);
  }
  &:active {
    transform: translateY(1px);
  }
  div {
    height: 24px;
    flex: 1;
  }
}

.color-input-list .add-color {
  color: var(--darker-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  gap: 6px;
  cursor: pointer;
  &:hover,
  &:hover p {
    color: var(--primary-color);
  }
}

.color-input-item {
  border-bottom: 1px solid #f5f5f5;
  &:last-child {
    border: none;
  }
}
.color-input {
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: var(--bg-color);

  input[type="color"] {
    appearance: none;
    -webkit-appearance: none;
    border: none;
    width: 34px;
    height: 34px;
    cursor: pointer;
    &::-webkit-color-swatch-wrapper {
      width: 34px;
      height: 34px;
      padding: 0;
    }
    &::-webkit-color-swatch {
      width: 34px;
      height: 34px;
      border: none;
    }
  }

  input[type="text"] {
    width: 68px;
    text-align: center;
  }

  button {
    height: 24px;
    width: 24px;
    padding: 0;
    border: 0;
    background: none;
    color: #666;
    border-radius: 50%;
    &:hover {
      color: var(--primary-color);
    }
    &:active {
      background: #fceeff;
    }
  }
  .drag-handle {
    cursor: grab;
    color: #a1a1a1;
    margin-left: auto;
  }
}

.color-result-item {
  border-bottom: 1px solid #f5f5f5;
  &:last-child {
    border: none;
  }
  button {
    margin: 0 2px;
  }
}
.color-result-swatch {
  width: 34px;
  height: 34px;
}

button.colorblind {
  font-size: 12px;
  margin-left: auto;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  &.unsafe {
    color: #d20000;
  }
  svg {
    margin-right: 2px;
  }
  &:hover {
    text-decoration: none;
    color: var(--primary-color);
  }
}

.Toastify__toast-body {
  padding: 0 6px;
}
.Toastify__toast-theme--light {
  color: #f0f0f0;
  background: #555;
  min-height: 52px;
  padding-top: 6px;
}
.Toastify__close-button--light {
  color: white;
  opacity: 0.7;
}
.Toastify__progress-bar-theme--light {
  background: #97849c;
}

/* GENERAL LAYOUT */
body {
  background-color: var(--bg-color);
}

.modal {
  position: fixed;
  inset: 0;
  background: var(--lighter-bg-color);
  z-index: 10;
  .modal-content {
    padding: 20;
  }
  .modal-close-btn {
    position: absolute;
    top: 22px;
    right: 20px;
    cursor: pointer;
    color: #444444;
    &:hover {
      color: var(--primary-color);
    }
  }
}

.container {
  margin: 0 12px;
}

.columns {
  width: 100%;
  display: flex;
  column-gap: 12px;
  flex-wrap: wrap;
}

.back-link {
  cursor: pointer;
  color: var(--primary-color);
  font-weight: 500;
  font-size: 12px;
  span {
    position: relative;
    top: 1px;
    left: 3px;
  }
}

.results-steps {
  display: flex;
  height: 34px;
  div {
    flex: 1;
  }
}
.unsafe {
  color: #d20000;
}
